<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<section style="background: aliceblue; width: 100%; height: 100px;" th:fragment="header">
    <div class="btn-group btn-group-lg">
        <a href="http://localhost:8080">
            <img src="img/logo.png" alt="Przejdź do strony głównej" style="height: 100px; width:auto">
        </a>
    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn" th:href="@{/ordersCatalog}">Zamówienia klientów</a>
    </div>

    <div class="btn-group btn-group-lg">
        <a class="btn" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-expanded="false" style="background-color:transparent">
            Klienci
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" th:href="@{/listClient}">Lista klientów</a></li>
        </ul>
    </div>

    <div class="btn-group btn-group-lg">
        <a class="btn" href="#" role="button" id="dropdownMenuLink2"
           data-toggle="dropdown" aria-expanded="false" style="background-color:transparent">
            Części
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
            <li><a class="dropdown-item" th:href="@{/partsCatalog}">Katalog części</a></li>
            <li><a class="dropdown-item" th:href="@{/addPart}">Dodawanie części do katalogu</a></li>
        </ul>
    </div>

    <div class="btn-group btn-group-lg">
        <a class="btn" style="padding: 30px" th:href="@{/contact}">Kontakt</a>
    </div>
    <div class="btn-group btn-group-lg">
        <a href="http://localhost:8080/cart">
            <img src="img/cart.png" alt="Koszyk" width="50" style="padding: 10px">
        </a>
    </div>

    <div class="btn-group btn-group-lg">
        <a class="btn" style="padding: 30px" th:href="@{/login}">
            <img src="img/login.png" alt="Logowanie" width="50" style="padding: 10px">
        </a>
    </div>

    <div sec:authorize="isAuthenticated()" class="btn-group btn-group-lg">
        <a class="btn" style="padding: 30px" th:href="@{/logout}">Wyloguj</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</section>

<div class="card-footer" style="position:absolute; bottom:0; background: aliceblue; width: 100%; height: 100px; "
     th:fragment="footer">
    <a href="http://localhost:8080">
        <img src="img/logo.png" alt="Przejdź do strony głównej" style="height: 100px; width:auto">
    </a>
</div>

</body>
</html>